
<div id="footer-div">
    <footer class="bg-light text-center py-1 mt-4">
    <p id="footer">&copy; 2024 <a href="https://github.com/harrymac1972" target="_blank">harrymac1972</a></p>
    </footer>
</div>